nav {
    background-color: #e9ecef;
}

.navbar-brand {
    color: rgba(0, 0, 0, 0.8);
}

.navbar-brand:hover {
    color: rgba(0, 0, 0, 0.95);
}

.nav-link {
    outline: none;
}

.dropdown-menu {
    margin-top: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dropdown-item {
    color: rgba(0, 0, 0, 0.55);
}

.dropdown-item:hover {
    color: rgba(0, 0, 0, 0.7);
    background-color: #f8f9fa;
}

.dropdown-item:active {
    color: rgba(0, 0, 0, 0.55);
    background-color: #e9ecef;
}