<!doctype html>
<html lang="en">
    <body>
        <div class="container">
            <!-- Heading -->
            <h1>Audible Frequency Bands</h1>
            <!-- Table -->
            <div class="row mt-5">
                <div class="col px-1">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr tabindex="-1">
                                    <td class="header">Frequency (Hz)</td>
                                    <td class="header">Band<span class="invisible">_______</span></td>
                                    <td class="hiding">Calculation</td>
                                </tr>
                                <tr tabindex="-1">
                                    <td class="frequency"><span class="monospace">2</span><span class="monospace">0</span> - <span class="monospace">6</span><span class="monospace">4</span></td>
                                    <td>lower bass</td>
                                    <td class="hiding"><span class="monospace">2</span><span class="monospace">0</span> - <span class="monospace">2</span>⁶</td>
                                </tr>
                                <tr tabindex="-1">
                                    <td class="frequency"><span class="monospace">6</span><span class="monospace">4</span> - <span class="monospace-1">1</span><span class="monospace">2</span><span class="monospace">8</span></td>
                                    <td>bass</td>
                                    <td class="hiding"><span class="monospace">2</span>⁶ - <span class="monospace">2</span>⁷</td>
                                </tr>
                                <tr tabindex="-1">
                                    <td class="frequency"><span class="monospace-1">1</span><span class="monospace">2</span><span class="monospace">8</span> - <span class="monospace">2</span><span class="monospace">5</span><span class="monospace">6</span></td>
                                    <td>upper bass</td>
                                    <td class="hiding"><span class="monospace">2</span>⁷ - <span class="monospace">2</span>⁸</td>
                                </tr>
                                <tr tabindex="-1">
                                    <td class="frequency"><span class="monospace">2</span><span class="monospace">5</span><span class="monospace">6</span> - <span class="monospace">5</span><span class="monospace-1">1</span><span class="monospace">2</span></td>
                                    <td>lower mids</td>
                                    <td class="hiding"><span class="monospace">2</span>⁸ - <span class="monospace">2</span>⁹</td>
                                </tr>
                                <tr tabindex="-1">
                                    <td class="frequency"><span class="monospace">5</span><span class="monospace-1">1</span><span class="monospace">2</span> - <span class="monospace-1">1</span><span class="monospace">0</span><span class="monospace">2</span><span class="monospace">4</span></td>
                                    <td>mids</td>
                                    <td class="hiding"><span class="monospace">2</span>⁹ - <span class="monospace">2</span>¹⁰</td>
                                </tr>
                                <tr tabindex="-1">
                                    <td class="frequency"><span class="monospace-1">1</span><span class="monospace">0</span><span class="monospace">2</span><span class="monospace">4</span> - <span class="monospace">2</span><span class="monospace">0</span><span class="monospace">4</span><span class="monospace">8</span></td>
                                    <td>upper mids</td>
                                    <td class="hiding"><span class="monospace">2</span>¹⁰ - <span class="monospace">2</span>¹¹</td>
                                </tr>
                                <tr tabindex="-1">
                                    <td class="frequency"><span class="monospace">2</span><span class="monospace">0</span><span class="monospace">4</span><span class="monospace">8</span> - <span class="monospace">4</span><span class="monospace">0</span><span class="monospace">9</span><span class="monospace">6</span></td>
                                    <td>lower treble</td>
                                    <td class="hiding"><span class="monospace">2</span>¹¹ - <span class="monospace">2</span>¹²</td>
                                </tr>
                                <tr tabindex="-1">
                                    <td class="frequency"><span class="monospace">4</span><span class="monospace">0</span><span class="monospace">9</span><span class="monospace">6</span> - <span class="monospace">8</span><span class="monospace-1">1</span><span class="monospace">9</span><span class="monospace">2</span></td>
                                    <td>treble</td>
                                    <td class="hiding"><span class="monospace">2</span>¹² - <span class="monospace">2</span>¹³</td>
                                </tr>
                                <tr tabindex="-1">
                                    <td class="frequency"><span class="monospace">8</span><span class="monospace-1">1</span><span class="monospace">9</span><span class="monospace">2</span> - <span class="monospace">2</span><span class="monospace">0</span><span class="monospace">0</span><span class="monospace">0</span><span class="monospace">0</span></td>
                                    <td>upper treble</td>
                                    <td class="hiding"><span class="monospace">2</span>¹³ - <span class="monospace">2</span><span class="monospace">0</span><span class="monospace">0</span><span class="monospace">0</span><span class="monospace">0</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Details -->
            <div class="row mt-3">
                <div class="col">
                    <p class="details my-1">20 Hz - lower limit of hearing</p>
                    <p class="details my-1">20000 Hz - upper limit of hearing</p>
                </div>
            </div>
        </div>
    </body>
</html>